::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    display: none;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #b8b4c7;
    -webkit-box-shadow: inset 0 0 1px #b8b4c7;
}

html, body {
    margin: 0;
    padding: 0
}

html, body, #app {
    height: 100%;
}

.main-content {
    border: 1px #e5e6eb;
    background: #fff;
    border-radius: 4px;
    padding: 15px;
}

h3 {
    padding: 5px 0 20px 0;
    margin: 0;
}